@import "reset";
@import "sizes";
@import "colors";

html {
  background: $black;
  color: $white;
}

body {
  text: {
    transform: lowercase;
  }
}

.default {
  margin: 0 $reg;
  padding: $reg 0;
}

.big {
  font: {
    size: $xlarge;
  }
}

.small {
  font: {
    size: $small;
  }
}

.galleryImage {
  width: 100%;
}

#navList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  li {
    // width: fit-content;
    padding: $small $large;
    margin: $xxxsmall $xxxsmall;
    background: $darkgray;
    cursor: pointer;
  }
  li:hover {
    background: $overlay;
  }
}