@import "reset";
@import "sizes";
@import "colors";
$fontstack: Helvetica, Arial, sans-serif;

html {
  background: $black;
  color: $white;
}

body {
  font: {
    family: $fontstack;
  }
  text: {
    transform: lowercase;
  }
}

.default {
  margin: 0 $reg;
  padding: $reg 0;
}

.big {
  font: {
    size: $xlarge;
  }
}

.small {
  font: {
    size: $small;
  }
}

#menuList, #navList {
  display: flex;
  flex: {
    wrap: wrap;
  }
  .navBtn {
    border: none;
    color: inherit;
    font: inherit;
    text: {
      transform: inherit;
    }
    padding: $small $large;
    margin: $xxxsmall $xxxsmall;
    background: $darkgray;
    cursor: pointer;
  }
  .navBtn:hover, .navBtn.active {
    background: $overlay;
  }
}

#dillon {
  width: 100%;
}

.galleryImage {
  width: 100%;
}

.hidden {
  display: none !important;
}