@import "reset";
@import "sizes";
@import "colors";

html {
  background: $black;
  color: $white;
}

body {
  text: {
    transform: lowercase;
  }
}

.default {
  margin: 0 $reg;
  padding: $reg 0;
}

.big {
  font: {
    size: $xlarge;
  }
}

.small {
  font: {
    size: $small;
  }
}

#navList {
  display: flex;
  flex-wrap: wrap;
  .navBtn {
    border: none;
    color: inherit;
    padding: $small $large;
    margin: $xxxsmall $xxxsmall;
    background: $darkgray;
    cursor: pointer;
  }
  .navBtn:hover, .navBtn.active {
    background: $overlay;
  }
}

#dillon {
  width: 400px;
}

.gallery {
  display: none;
}

.galleryImage {
  width: 100%;
}

